<!DOCTYPE html>
<html lang="en">
<body style='font-family="source-sans-variable"'>
<body bgcolor="LightGray">
<head>
    <meta charset="UTF-8">
    <title>Home | Khawoon</title>
      {%load static%}
    <link rel="stylesheet" href={% static 'home/style.css' %}>
</head>
<body>


<div class="container">
    <div>
        <ul>
             {%if user.is_authenticated%}
            <li><img src={% static 'home/logo.png'%} width="80" height="50"></li>
            <li><a href={%url "home"%} class="active">Home</a></li>
            <li><a href={%url "reviews"%}>Reviews</a></li>
            <li><a href={%url "discounts"%}>Discounts</a></li>
            <li><a href="#">Contact Us</a></li>
               <li style="float:right"><a href={%url "login"%}>Account</a></li>
            <li style="float:right"><a href={%url "logout"%}>logout</a></li>

            {%else%}
                 <li><img src={% static 'home/logo.png'%} width="80" height="50"></li>
            <li><a href={%url "home"%} class="active">Home</a></li>
           <li><a href={%url "reviews"%}>Reviews</a></li>
            <li><a href={%url "discounts"%}>Discounts</a></li>
            <li><a href="#">Contact Us</a></li>
            <li style="float:right"><a href={%url "login"%}>Login/Sign Up</a></li>

        </ul>
          {%endif%}
    </div>
    <div class="sidebar">
        <h2 style="text-align: center;color: firebrick; flex: auto ">Events</h2>
        <div style="width: 80%;margin: auto;color: honeydew; line-height: 20px">

            <ul style="background-color: aliceblue ;color:red">
                <li>**Winter food festival at Four seasons,Dhaka**</li>
                <li>**Fuchka festival at Dhanmondi Sayeedena community Center**</li>
                <li>**Pitha utshab at Dhanmondi Lake**</li>
                <li>**Burger challange at Takeout**</li>
                <li>**Burger Festival at Uttara club**</li>
                <li>**Igloo Ice cream mania at BICC**</li>
            </ul>


        </div>
    </div>
    <div class="content" style=" display : flex ; flex-direction: column">
        <div>

             <form method='GET' action=''>
            <input type="text" name='q' placeholder="I am Hungry for...."

                   style="border-radius: 50px;width: 450px;height: 45px;font-size: 20px;padding-left: 20px;margin-right: 30px">
            IN <input type="text" name='q' placeholder="Area"
                      style="border-radius: 50px; width: 200px; height: 45px;font-size: 20px;padding-left: 10px;margin-left: 20px">

            <input type='submit'value='search'/>

              </form>

            </a>
        </div>

        {% block content %}


    {% endblock %}



</body>
</html>