<!DOCTYPE html>
<html lang="en">


<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Bashmoti Kachhi | Khawoon</title>
    <{%load static%}
    <link rel="stylesheet" href={% static 'home/bash.css' %}>
</head>

<body>
<div style=" display : flex ; flex-direction: column;margin:0px" >

    <div class="container" id="slider">
        <div id="navbar" style="margin-bottom: 40px">
        <ul class="sticky" style=" position: fixed;">

             {%if user.is_authenticated%}
            <li><img src={% static 'home/logo.png'%} width="80" height="50"style="margin-top: 6px;margin-right: 200px"></li>
            <li><a href={%url "home"%} class="active">Home</a></li>
           <li><a href={%url "restaurant"%}>Restaurantes</a></li>
            <li><a href={%url "discounts"%}>Discounts</a></li>
        <li><a href={% url "contact" %}>Contact Us</a></li>
			<li><a href={% url "team" %}>Team</a></li>
                 <li style="float:right"><a href={%url "login"%}>Account</a></li>
            <li style="float:right"><a href={%url "logout"%}>logout</a></li>

            {%else%}
                 <li><img src={% static 'home/logo.png'%} width="80" height="50"tyle="margin-top: 6px;margin-right: 200px"></li>
            <li><a href={%url "home"%} class="active">Home</a></li>
         <li><a href={%url "restaurant"%}>Restaurantes</a></li>
            <li><a href={%url "discounts"%}>Discounts</a></li>
          <li><a href={% url "contact" %}>Contact Us</a></li>
			<li><a href={% url "team" %}>Team</a></li>
           <li style="float:right"><a href={%url "skip"%}>Login</a></li>

          {%endif%}
    </div>

        <div class="content" style=" display : flex ; flex-direction: column;width:100%;">
            <div style="padding-left: 200px">

                 <div >

            <form method='GET' action={% url "search" %}>
                <input type="text" name="q" placeholder="I am Hungry for...." value="{{ request.GET.q }}"

                       style="border-radius: 50px;width: 450px;height: 45px;font-size: 20px;padding-left: 20px;margin-right: 30px;margin-top: 20px">
                IN <input type="text" name="q2" placeholder="Area"
                          style="border-radius: 50px; width: 200px; height: 45px;font-size: 20px;padding-left: 10px;margin-left: 20px">
                <span style="display: inline-block;vertical-align: middle">
                    <input type='image' src={% static 'home/SEARCH.png'%} style="width: 50px;height: 45px ;" value='search'
                           id="searchbtn">
                </span>
            </form>

            </a>
        </div>
            </div>


            <div>
                <div class="w3-content w3-section" style="width:100%;margin-top: 25px">
                    <img class="mySlides" src={% static "home/BashmatiKacchi_Interior.jpg" %} width="100%" height="400" >
                    <img class="mySlides" src={% static "home/BashmatiKacchi_food3.jpg" %} width="100%" height="400">
                    <img class="mySlides" src={% static "home/bash.jpg" %} width="100%" height="400">
                </div>


                <div id="restubar" style="margin-bottom: 40px; width:100%">
                    <ul style="background-color: lightblue;margin-top: 5px">
                        <li><img src={% static "home/BashmatiKacchi_Logo.png" %} width="90" height="70" style="border-radius: 25%;margin-top: 8px"></li>
                        <li style="margin-left: 5px;color: red;font-size: 21px"><h2>Bashmoti Kacchi</h2></li>
                        <li style="margin-top: 22px;margin-left: 8px;font-size: 30px;color: darkorange"> &#9733  &#9733 &#9733 </li>
                        <li style="float:right;font-size:21px; margin:10px 20px;"><p><b>Contact : </b>01732753096



                        </p></li>
                    </ul>
                </div>
                <div style="padding-left: 25px">

                    <ul style="background-color: white;margin-top: 5px">
                        <li><p style="font-size: 25px;margin-top:15px"> <b>Location : </b></p></li> <li style="float: right;font-size: 22px;"><h3 style="margin: 10px;">Opening Hour:9am - 10pm</h3></li>
                        <li> <p style="float:left; font-size: 20px; margin:20px 0px;">  1st Floor, 43/3/2 Munshi Bari Road, Near Gabtola Mosque, Jigatala, Dhaka 1209

                        </p> </li>
                        <li> <img class="menuloc" src={% static "home/BashmatiKacchi_Location.PNG" %} width="50%" height="250"> </li>
                        <li style="float: right;margin:0px 100px"><img src={% static "home/bashtype.PNG" %}></li>

                    </ul>
                </div>
                <div style="padding-left: 25px">
                    <h2 style="margin-top: 10px;">Menu:</h2>
                    <span style="padding-left: 35px">
                <img  class="menuho" src={% static "home/BashmatiKacchi_Menu.jpg" %} width="220" height="180;"> <li style="float: right; margin: -50px 60px;"><img src={% static "home/bashfac.PNG" %}></li>
                         <img  class="menuho" src={% static "home/bashmen.jpg" %} width="220" height="180">
                         <img  class="menuho" src={% static "home/bashmenu.jpg" %} width="220" height="180">

                </span>
                </div>

                <div>
                    <h2 style="padding-left: 25px;margin:23px;">Reviews:</h2>



                    <div style="padding-left: 100px;margin:30px;">

            <span style="text-decoration: double">

            <img src={% static "home/person.png" %} width="80" height="60" style="border-radius: 100%;border-color:#837C83;border-style: solid;">
            </span>

                        <div style="padding-left:100px;margin: -60px 5px;">
                            {% if user.is_authenticated %}
                            <div style="width:1000px;padding-left:20px;"><p style="margin:-5px auto;font-size:30px;"><b> {{   request.user.username }}</b></p>
                                {% else %}
                                 <div style="width:1000px;padding-left:20px;"><p style="margin:-5px auto;font-size:30px;"><b> Zakir</b></p>
                                     {% endif %}

                                <p style="padding-left: 5px;background-color:white;margin:7px auto;"><b>Food Item:</b> Kacchi</p>
                                <span style="padding-left: 5px;background-color: white;margin:6px auto;"><b>Restaurant Rating:</b> &#11088;&#11088;&#11088;&#11088;<br></span>
                                <span style="padding-left: 5px;background-color: white;margin:6px auto;"><b>Food Rating:</b> &#11088;&#11088;&#11088;&#11088;</span>
                                <p style="padding-left: 5px;margin:6px auto;"><b>Description:</b> Awsome Kacchi. A must try item for Jhigatola-basi.</p>
                                <img src={% static "home/biryani.jpg" %}  width="100" height="80" style="margin:10px auto;">

                                <br>
                                <div class="stars"style="margin-right:700px">
                                    <span style="font-size:20px;margin-left:0px;color:black;"><b>Rate Reviewer:</b></span>
                                    <input class="star star-5" id="star-5" type="radio" name="star"/>
                                    <label class="star star-5" for="star-5"></label>
                                    <input class="star star-4" id="star-4" type="radio" name="star"/>
                                    <label class="star star-4" for="star-4"></label>
                                    <input class="star star-3" id="star-3" type="radio" name="star"/>
                                    <label class="star star-3" for="star-3"></label>
                                    <input class="star star-2" id="star-2" type="radio" name="star"/>
                                    <label class="star star-2" for="star-2"></label>
                                    <input class="star star-1" id="star-1" type="radio" name="star"/>
                                    <label class="star star-1" for="star-1"></label>
                                </div>

                                <div style="float:right;margin:-30px 550px">
                                    <input type="button" id="comment1" button onclick="myFunction1()" style="background-color: white;color: black;
	                    margin: 6px; border: 1.5px;border-style: solid;border-radius: 8px;cursor: pointer;width: 120%;" value="Comment">

                                    <script>
                                        function myFunction1() {
                                            var x = document.getElementById("commentShow1");
                                            if (x.style.display === "none") {
                                                x.style.display = "block";
                                            } else {
                                                x.style.display = "none";
                                            }
                                        }
                                    </script>
                                </div>

                                <div id = "commentShow1">
                                    <br/>
                                    <form action="" method="POST">

                                        <textarea cols="40" rows="2" name="commentContent" id="comm1" style="margin: 10px 4px;"placeholder="Write a comment..."></textarea>
                                        <div>
                                            <input type="submit"onclick="showComment1()" id="post1" style="background-color:red;color: white;border: 2px;
												border-style: solid;border-radius: 8px;cursor: pointer;width: 10%;height: 30px;
												float:right;margin:-60px 560px;"value="Post">

                                            <script>
                                                function showComment1() {
                                                    document.getElementById("par1").value = document.getElementById("comm1").value;
                                                }
                                            </script>

                                            <p id="par1"> </p>

                                        </div>
                                    </form>
                                </div>
                                <hr>
                            </div>
                        </div>
                    </div>

                    <div style="padding-left: 120px;margin:25px">

						<span style="text-decoration: double;">
							<img src={% static "home/person.png" %}  width="80" height="60" style="border-radius: 100%;border-color:#837C83;border-style: solid; margin: 50px -20px;">
						</span>

                        <div style="padding-left:100px;">
                            <div style="width:1000px;padding-left:20px;margin: -110px 0px;">
                                <p style="margin:-5px auto ;font-size:30px;"><b>Rasel</b></p>
                                <p style="padding-left: 5px;background-color:white;margin:7px auto;"><b>Food Item:</b> Bashmoti Kachhi</p>
                                <span style="padding-left: 5px;background-color: white;margin:6px auto;"><b>Restaurant Rating:</b> &#11088;&#11088;&#11088;<br></span>
                                <span style="padding-left: 5px;background-color: white;margin:6px auto;"><b>Food Rating:</b> &#11088;&#11088;&#11088;&#11088;</span>
                                <p style="padding-left: 5px;margin:6px auto;"><b>Description:</b>
                                    If you wanna taste Biye bari platter. Then you have to go Bashmoti Kacchi. I took biyebari platter.<br> Which contains Kacchi, roast, Borhani & Jorda. Kacchi was so good. Roast was perfect.<br> Borhani was best. Jorda was not good. Very bad taste of jorda.
                                    Service was so good. I think best. Environment was also so good. Price was reasonable.
                                <img src={% static "home/bash.jpg" %}  width="100" height="80" style="margin:10px auto;">

                                <br>
                                <div class="stars1"style="margin-right:700px">
                                    <span style="font-size:20px;margin-left:00px;color:black;"><b>Rate Reviewer:</b></span>
                                    <input class="star star-f5" id="star-f5" type="radio" name="star1"/>
                                    <label class="star star-f5" for="star-f5"></label>
                                    <input class="star star-f4" id="star-f4" type="radio" name="star1"/>
                                    <label class="star star-f4" for="star-f4"></label>
                                    <input class="star star-f3" id="star-f3" type="radio" name="star1"/>
                                    <label class="star star-f3" for="star-f3"></label>
                                    <input class="star star-f2" id="star-f2" type="radio" name="star1"/>
                                    <label class="star star-f2" for="star-f2"></label>
                                    <input class="star star-f1" id="star-f1" type="radio" name="star1"/>
                                    <label class="star star-f1" for="star-f1"></label>
                                </div>

                                <div style="float:right;margin:-30px 550px">
                                    <input type="button" id="comment2" button onclick="myFunction2()" style="background-color: white;color: black;
									margin: 6px; border: 1.5px;border-style: solid;border-radius: 8px;cursor: pointer;width: 120%;" value="Comment">

                                    <script>
                                        function myFunction2() {
                                            var x = document.getElementById("commentShow2");
                                            if (x.style.display === "none") {
                                                x.style.display = "block";
                                            } else {
                                                x.style.display = "none";
                                            }
                                        }
                                    </script>
                                </div>

                                <div id = "commentShow2">
                                    <br/>
                                    <form action="" method="POST">

                                        <textarea cols="40" rows="2" name="commentContent" id="comm2" style="margin: 10px 4px;"placeholder="Write a comment..."></textarea>
                                        <div>
                                            <input type="submit"onclick="showComment2()" id="post" style="background-color:red;color: white;border: 2px;
												border-style: solid;border-radius: 8px;cursor: pointer;width: 10%;height: 30px;
												float:right;margin:-60px 560px;"value="Post">

                                            <script>
                                                function showComment2() {
                                                    document.getElementById("par2").value = document.getElementById("comm2").value;
                                                }
                                            </script>

                                            <p id="pa2r"> </p>

                                        </div>
                                    </form>
                                    <hr>
									<hr>
                                </div>
                            </div><br><br><br><br><br><br><br>
							
							<div>

                                {% if user.is_authenticated %}

                                <button type="submit" button id="SE"button onclick="document.getElementById('popup').style.display='block'" style="font-size:20px; margin: 0px -10px;">Share Your Experience</button>
                                {% else %}
							 <p style="background-color: aliceblue;padding-left: 35px;font-size: 21px;margin-top: 35px;"> Please <span><a href={% url "signup" %}>Sign up</a> or </span><span style="color: rosybrown">
                        <a href={% url "login" %}>Login</a></span> to add review/rating.</p>
                                {% endif %}

					
							</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
	
	<div id="popup" class="overlay">	
		
		<div class="bg-modal">
			
			<div class="modal-contents">
				<a href="#" class="closeBtn"button onclick="document.getElementById('popup').style.display='none'">&times;</a>
				
				<div style="text-align: center">
					<img src={% static "home/logo.png" %} class="img">
				</div>

				<div class="Form">
					<form action="">
						<p style="background:aliceblue; color:red; margin:6px auto; font-size:25px">Review From</p>
				
						<input type="text"style="margin:6px auto;"placeholder="Food Item">
				
						<div class="stars2"style="margin-right:130px">	
							<span style="font-size:20px;margin-left:100px;color:black;">Restaurant Rating:</span>
							<input class="star star-fa5" id="star-fa5" type="radio" name="star2"/>
							<label class="star star-fa5" for="star-fa5"></label>
							<input class="star star-fa4" id="star-fa4" type="radio" name="star2"/>
							<label class="star star-fa4" for="star-fa4"></label>
							<input class="star star-fa3" id="star-fa3" type="radio" name="star2"/>
							<label class="star star-fa3" for="star-fa3"></label>
							<input class="star star-fa2" id="star-fa2" type="radio" name="star2"/>
							<label class="star star-fa2" for="star-fa2"></label>
							<input class="star star-fa1" id="star-fa1" type="radio" name="star2"/>
							<label class="star star-fa1" for="star-fa1"></label>
						</div>

						<div class="stars3"style="margin-right:130px">
							<span style="font-size:20px;margin-left:50px;color:black;">Food Rating:</span>
							<input class="star star-fb5" id="star-fb5" type="radio" name="star3"/>
							<label class="star star-fb5" for="star-fb5"></label>
							<input class="star star-fb4" id="star-fb4" type="radio" name="star3"/>
							<label class="star star-fb4" for="star-fb4"></label>
							<input class="star star-fb3" id="star-fb3" type="radio" name="star3"/>
							<label class="star star-fb3" for="star-fb3"></label>
							<input class="star star-fb2" id="star-fb2" type="radio" name="star3"/>
							<label class="star star-fb2" for="star-fb2"></label>
							<input class="star star-fb1" id="star-fb1" type="radio" name="star3"/>
							<label class="star star-fb1" for="star-fb1"></label>
						</div>

						<input type="text"style="margin:10px auto; height:150px;"placeholder="Description">
				
						<fieldset style="border-radius:10px;background:white;border:1px solid #ccc;width:200px;padding-left:0px;margin-left:150px;">
							<legend style="background-color:white; color:#837C83;border: 1px solid #ccc;
				            border-radius: 10px;">Upload valid photo or video</legend>
							<input style="margin:6px auto;"type="file" name="multiplefileupload" multiple/>
						</fieldset>
					</form>
				</div>
			
				<button  class="post" type="submit" style="margin: 20px 190px;border: 2px;border-style: solid;border-radius: 8px;cursor: pointer;width: 25%; height:25%;
	                            " @click="goToHome()">Post</button>
								
			</div>
		</div>		
	</div><br><br>
	
</div>
<footer id="tfooter">
    <div id="mom" Style="width:100%;height:500px;background:black">
        <div id="mommy" >

            <div id="kid1" style="color:white;text-align:center;">
                <p style="font-size:25px;"><b>Discover</b></p>
                <p style="font-size:22px;">Home</p>
                <p style="font-size:22px;">Review</p>
                <p style="font-size:22px;">Discount</p>
            </div>
            <div id="kid2" style="color:white;text-align:center;">
                <p style="font-size:25px;"><b>Trending</b></p>
                <p style="font-size:22px;">Pizza</p>
                <p style="font-size:22px;">Pasta</p>
                <p style="font-size:22px;">Burger</p>
                <p style="font-size:22px;">Kacchi</p>
            </div>
            <div id="kid3" style="color:white;text-align:center;">
                <p style="font-size:25px;"><b>New In Town</b></p>
                <p style="font-size:22px;">Dhanmondi</p>
                <p style="font-size:22px;">Banani</p>
                <p style="font-size:22px;">Gulshan</p>
                <p style="font-size:22px;">Uttara</p>
            </div>
            <div id="kid4" style="color:white;text-align:center;">
                <p style="font-size:25px;"><b>User</b></p>
                <p style="font-size:22px;">Sign In</p>
                <p style="font-size:22px;">Create New Account</p>
                <p style="font-size:22px;">FAQ</p>
            </div>
        </div>
        <hr>
        <img src={% static "home/Footer.png" %} width="200" height="60"style="padding-left:40px">
        <br>
        <p style="color:white;font-size:18px;padding-left:40px;">© 2018 Khawoon. All Rights Reserved.</p>
    </div>
</footer>
</body>
</body>
</html>

<script>

    var slider = new Vue({
        el: '#slider',
        data: {
            myIndex: 0,

        },
        mounted: function () {
            this.carousele();

        },

        methods: {
            carousele: function () {
                var i;
                var self = this;
                var x = document.getElementsByClassName("mySlides");
                for (i = 0; i < x.length; i++) {
                    x[i].style.display = "none";
                }
                this.myIndex++;
                if (this.myIndex > x.length) {
                    this.myIndex = 1
                }
                x[this.myIndex - 1].style.display = "block";
                setTimeout(function () {
                    self.carousele();
                }, 2000); // Change image every 2 seconds
            }
        }
    })
</script>