 style="float:right"><a href={%url "login"%}>Login/Sign Up</a></li>

        </ul><!DOCTYPE html>
<html lang="en">
<body style='font-family:"source-sans-variable"'>
<head>
    <meta charset="UTF-8">
    <title>Home | Khawoon</title>
      {%load static%}
    <link rel="stylesheet" href={% static 'home/style.css' %}>
</head>
<body>



<div class="container">
     <div id="navbar" style="margin-bottom: 40px">
        <ul class="sticky" style=" position: fixed;">

             {%if user.is_authenticated%}

            <li><img src={% static 'home/logo.png'%} width="80" height="50"style="margin-top: 6px;margin-right: 200px"></li>
                  {% if lvl == 1 %}
            <li><a href={%url "home"%} class="active">Home</a></li>
                  {% else  %}
            <li><a href={%url "Restaurants"%} class="active">Restauratns</a></li>
                      {% endif %}
            <li><a href={%url "discounts"%}>Discounts</a></li>
           <li><a href="contact.html">Contact Us</a></li>
			<li><a href="team.html">Team</a></li>
                 <li style="float:right"><a href={%url "login"%}>Account</a></li>
            <li style="float:right"><a href={%url "logout"%}>logout</a></li>

            {%else%}
                 <li><img src={% static 'home/logo.png'%} width="80" height="50"tyle="margin-top: 6px;margin-right: 200px"></li>
            <li><a href={%url "home"%} class="active">Home</a></li>
           <li><a href={%url "Restaurants"%}>Restaurants</a></li>
            <li><a href={%url "discounts"%}>Discounts</a></li>
           <li><a href="contact.html">Contact Us</a></li>
			<li><a href="team.html">Team</a></li>

            <li style="float:right"><a href={%url "skip"%}>login</a></li>
          {%endif%}
    </div>
    
  
    <div style="padding-left: 200px;margin-top: 20px" >

            <form method='GET' action={% url "search" %}>
                <input type="text" name="q" placeholder="I am Hungry for...." value="{{ request.GET.q }}"

                       style="border-radius: 50px;width: 450px;height: 45px;font-size: 20px;padding-left: 20px;margin-right: 30px;margin-top: 20px">
                IN <input type="text" name="q2" placeholder="Area"
                          style="border-radius: 50px; width: 200px; height: 45px;font-size: 20px;padding-left: 10px;margin-left: 20px">
                <span style="display: inline-block;vertical-align: middle">
                    <input type='image' src={% static 'home/search.png'%} style="width: 50px;height: 45px ;" value='search'
                           id="searchbtn">
                </span>
            </form>

            </a>
        </div>
        
        <div >
            <div style="width: 100% ;margin: 0;border: darkred"></div>
            <p style="padding: 16px 16px ; background: firebrick; color: white; font-size: 35px; text-align: center;">
                Trending</p>
            <div style="height: 250px; width: 100%">
                <div style="float: left; width: 100%;margin-inside: 100px">
                    <a href="takeout.html">    <img class="img-slide" src="Takeout_food1.jpg " width="33%" height="300" ></a>
                    <a href="bashmoti.html">  <img class="img-slide" src="KAcchi2.jpg" width="33%" height="300"></a>
                      <img class="img-slide" src="food3.jpg" width="33%" height="300"></span>
               <a href="pizzaguy.html">  <img class="img-slide" src="PizzaGuy_food3.jpg" width="33%" height="300"></a>
                    <img class="img-slide" src="food5.jpg" width="33%" height="300">
                    <img class="img-slide" src="food2.jpg" width="33%" height="300">

                </div>
            </div>

        </div>
        <div class="content" style=" display : flex ; flex-direction: column;">
<div class="row">
        <div class="column left"style="background-color:pink;width: 260px;height: 440px;margin-top: 45px;padding-right: 13px">
            <h2 style="text-align:center;color: firebrick; flex: auto; font:35px"><u><b>Events</b></u></h2>
            <div style="width: 80%;margin: auto;color: honeydew; line-height: 27px">

                <div class="slider"style="margin:-10px -23px">
                    <div class="load">
                    </div>
                    <div class="content2">
                    </div>
                </div>
            </div>
        </div>

        <div class="column middleee" style=" border: darkred">
            <p style="padding: 16px 16px;background: indianred;color: darkred;font-size: 35px;text-align: center;">Hot
                Deals</p>
            <img class="img-inline" src="food7.jpg" width="32.25%" height="280">
            <a href="sultanres.html">    <img class="img-inline" src="food1.jpg" width="32.25%" height="280"></a>
            <img class="img-inline" src="food8.jpg" width="32.25%" height="280">
            <img class="img-inline" src="food10.jpg" width="32.25%" height="260">
            <img class="img-inline" src="food11.jpg" width="32.25%" height="260">
            <img class="img-inline" src="food12.jpg" width="32.25%" height="260">
        </div>
    </div>
</div>
    <footer id="tfooter">
        <div id="mom" Style="width:100%;height:500px;background:black">
            <div id="mommy" >

                <div id="kid1" style="color:white;text-align:center;">
                    <p style="font-size:25px;"><b>Discover</b></p>
                    <p style="font-size:22px;">Home</p>
                    <p style="font-size:22px;">Review</p>
                    <p style="font-size:22px;">Discount</p>
                </div>
                <div id="kid2" style="color:white;text-align:center;">
                    <p style="font-size:25px;"><b>Trending</b></p>
                    <p style="font-size:22px;">Pizza</p>
                    <p style="font-size:22px;">Pasta</p>
                    <p style="font-size:22px;">Burger</p>
                    <p style="font-size:22px;">Kacchi</p>
                </div>
                <div id="kid3" style="color:white;text-align:center;">
                    <p style="font-size:25px;"><b>New In Town</b></p>
                    <p style="font-size:22px;">Dhanmondi</p>
                    <p style="font-size:22px;">Banani</p>
                    <p style="font-size:22px;">Gulshan</p>
                    <p style="font-size:22px;">Uttara</p>
                </div>
                <div id="kid4" style="color:white;text-align:center;">
                    <p style="font-size:25px;"><b>User</b></p>
                    <p style="font-size:22px;">Sign In</p>
                    <p style="font-size:22px;">Create New Account</p>
                    <p style="font-size:22px;">FAQ</p>
                </div>
            </div>
            <hr>
            <img src="Footer.png" width="200" height="60"style="padding-left:40px">
            <br>
            <p style="color:white;font-size:18px;padding-left:40px;">© 2018 Khawoon. All Rights Reserved.</p>
        </div>
    </footer>
</div>
</body>
</body>
</html>
<script>
    window.onscroll = function () {
        myFunction()
    };

    var navbar = document.getElementById("navbar");
    var sticky = navbar.offsetTop;

    function myFunction() {
        if (window.pageYOffset >= sticky) {
            navbar.classList.add("sticky")
        } else {
            navbar.classList.remove("sticky");
        }
    }

    var slider = new Vue({
        el: '#slider',
        data: {
            slideIndex: 2,

        },
        mounted: function () {
            this.carousele(2);
        },

        methods: {
            carousele: function (n) {
                var i;
                var self = this;
                console.log(n);
                var x = document.getElementsByClassName("img-slide");
                if (n === x.length) {
                    n = 2;
                }


                for (i = 0; i < x.length; i++) {
                    x[i].style.display = "none";
                }


                x[n].style.display = "inline";
                x[n - 1].style.display = "inline";
                x[n - 2].style.display = "inline";

                setTimeout(function () {
                    self.carousele(++n);
                }, 2500); // Change image every 2 seconds
            }
        }
    });
</script>

        
