<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home | Khawoon</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>


<div class="container">
    <div>
        <ul>
            <li><img src="logo.png" width="80" height="50"></li>
            <li><a href="home.html" class="active">Home</a></li>
            <li><a href="reviews.html">Reviews</a></li>
            <li><a href="discounts.html">Discounts</a></li>
            <li><a href="#">Contact Us</a></li>
            <li style="float:right"><a href="login.html">Login/Sign Up</a></li>

        </ul>
    </div>
    <div class="sidebar">
        <h2 style="text-align: center;color: firebrick; flex: auto ">Events</h2>
        <div style="width: 80%;margin: auto;color: honeydew; line-height: 20px">

            <ul style="background-color: aliceblue ;color: black">
                <li>**Winter food festival at Four seasons,Dhaka**</li>
                <li>**Fuchka festival at Dhanmondi Sayeedena community Center**</li>
                <li>**Pitha utshab at Dhanmondi Lake**</li>
                <li>**Burger challange at Takeout**</li>
            </ul>


        </div>
    </div>
    <div class="content" style=" display : flex ; flex-direction: column">
        <div>
            <input type="text" name="" placeholder="I am Hungry for...."
                   style="border-radius: 50px;width: 450px;height: 45px;font-size: 20px;padding-left: 20px;margin-right: 30px">
            IN <input type="text" name="" placeholder="Area"
                      style="border-radius: 50px; width: 200px; height: 45px;font-size: 20px;padding-left: 10px;margin-left: 20px">
            <a href="#search">
                <img src="search.png" style="width: 45px;height: 40px;padding-left:10px;margin-left:10px;border:0;">
            </a>
        </div>
        <div style="   width: 100% ;margin: 0;border: darkred">
            <p style="padding: 16px 16px ; background: firebrick; color: white; font-size: 30px; text-align: center;">
                Search Results</p>

            <div style=" padding: 0;background-color: #cccccc;float: left;margin-right: 5px;margin-bottom: 5px">
                <img src="sbarro.jpg" width="320px" height="160" style="padding: 0;margin: 0;">
                <p style="background-color: #cccccc; margin: 0;padding: 10px">
                    Sbaroo - Dhanmondi
                    <br><span style="background-color: #cccccc"> Rate: &#9733;&#9733;&#9733;&#9733;</span>
                </p>
            </div>
            <div style=" padding: 0;background-color: #cccccc;float: left;margin-right: 5px;margin-bottom: 5px">
                <img src="inn.png" width="320px" height="160" style="padding: 0;margin: 0;">
                <p style="background-color: #cccccc; margin: 0;padding: 10px">
                    Pizza Inn - Dhanmondi
                    <br><span style="background-color: #cccccc"> Rate: &#9733;&#9733;&#9733;&#9733;&#9733;</span>
                </p>
            </div>
            <div style=" padding: 0;background-color: #cccccc;float: left;margin-right: 5px;margin-bottom: 5px">
                <img src="cherry.jpg" width="320px" height="160" style="padding: 0;margin: 0;">
                <p style="background-color: #cccccc; margin: 0;padding: 10px">
                    Cafe Cherry Drops - Dhanmondi
                    <br><span style="background-color: #cccccc"> Rate: &#9733;&#9733;&#9733;</span>
                </p>
            </div>
            <div style=" padding: 0;background-color: #cccccc;float: left;margin-right: 5px;margin-bottom: 5px">
                <img src="roma.jpeg" width="320px" height="160" style="padding: 0;margin: 0;">
                <p style="background-color: #cccccc; margin: 0;padding: 10px">
                    Pizza Roma - Dhanmondi
                    <br><span style="background-color: #cccccc"> Rate: &#9733;&#9733;&#9733;&#9733;</span>
                </p>
            </div>
            <div style=" padding: 0;background-color: #cccccc;float: left;margin-right: 5px;margin-bottom: 5px">
                <img src="hut.jpg" width="320px" height="160" style="padding: 0;margin: 0;">
                <p style="background-color: #cccccc; margin: 0;padding: 10px">
                    Pizza Hut - Dhanmondi
                    <br><span style="background-color: #cccccc"> Rate: &#9733;&#9733;&#9733;</span>
                </p>
            </div>
        </div>
    </div>
</div>
</body>
</html>