@import url(https://fonts.googleapis.com/css?family=Roboto:500,100,300,700,400);

div.stars{
    width: 280px;
    display: inline-block;
}

div.stars1{
    width: 280px;
    display: inline-block;
}

div.stars2{
    width: 380px;
    display: inline-block;
}

div.stars3{
    width: 280px;
    display: inline-block;
}

input.star{
    display: none;
}

label.star{
    float: right;
    padding: 3px;
    font-size: 20px;
    color: #444;
    transition: all .2s;
}

input.star:checked ~ label.star:before{
    content:'\f005';
    color: #FD4;
    transition: all .25s;
}


input.star-5:checked ~ label.star:before{
    color:#FE7;
    text-shadow: 0 0 20px #952;
}

input.star-1:checked ~ label.star:before{
    color: #F62;
}

input.star-f5:checked ~ label.star:before{
    color:#FE7;
    text-shadow: 0 0 20px #952;
}

input.star-f1:checked ~ label.star:before{
    color: #F62;
}

input.star-fa5:checked ~ label.star:before{
    color:#FE7;
    text-shadow: 0 0 20px #952;
}

input.star-fa1:checked ~ label.star:before{
    color: #F62;
}

input.star-fb5:checked ~ label.star:before{
    color:#FE7;
    text-shadow: 0 0 20px #952;
}

input.star-fb1:checked ~ label.star:before{
    color: #F62;
}

label.star:hover{
    transform: rotate(-15deg) scale(1.3);
}

label.star:before{
    content:'\f006';
    font-family: FontAwesome;
}

.rev-box{
    overflow: hidden;
    height: 0;
    width: 100%;
    transition: all .25s;
}

textarea.review{
    background: #222;
    border: none;
    width: 100%;
    max-width: 100%;
    height: 100px;
    padding: 10px;
    box-sizing: border-box;
    color: #EEE;
}

label.review{
    display: block;
    transition:opacity .25s;
}

input.star:checked ~ .rev-box{
    height: 125px;
    overflow: visible;
}
#commentShow1{
    display:none;
}

#commentShow2{
    display:none;
}

#SE{
    display:block;
    width:500px;
    margin:50px auto;
    padding:15px;
    text-align:center;
    border:2px solid #ccc;
    background-color:#ff4d4d;
    -webkit-border-radius:10px;
    color:white;

}

.container {
    width: 100%;
    margin: auto;
}

.header {
    width: 100%;
    height: 200px;
    background: #000000;
}

.logo {
    width: 20%;
    padding: 0;
    float: left;
}

/*.clearfix{
    overflow: auto;
}*/
.content {
    width: 100%;
    display: inline;
    margin-top: 0px;
    float: left;
}

#navbar {
    overflow: hidden;
    background-color: black;
    padding: 0;
    width: 100%;
}

#navbar a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 20px 25px;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 15px;

}

#navbar a:hover {
    background-color: darkred;
}
#restubar{
    overflow: hidden;
    background-color: lightgrey;
    padding: 0;
    width: 125%;
}
#restubar a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 20px 25px;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 15px;

}

.sticky {
    position: sticky;
    top: 0;
    width: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
    background-color: black;

}

li {
    float: left;

}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 20px 25px;
    text-decoration: none;
    font-family: sans-serif;
}

li:last-child {
    border-right: none;
}

li a:hover {
    background-color: darkred;
}

.active {
    background-color: #424242;
}

.sidetxt{
    background-color: aliceblue;
    color: red;

}
.sidetxt:hover{
    text-decoration: underline;
    font-weight: bold;
}
.resside{

}

.img-inline {
    display: inline;
    margin-left: 10px;
    margin-bottom: 15px;
    float: left;
    margin-inside: 10px;
    shape-image-threshold: inherit;
    border: indianred;
    border-radius: 10%;
    -moz-transition: all 0.25s;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
}
.img-inline:hover{
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1);
}

.searchbtn {
    display: inline-block;
    margin-top: 10px;
    padding: 0;
}
.img-slide{
    -moz-transition: all 0.25s;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
    border-radius: 4%;
    shape-image-threshold: revert;
    margin-bottom: 15px;
}
.img-slide:hover{
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1);
}
.menuho{
    -moz-transition: all 0.25s;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
}
.menuho:hover{
    -ms-transform: scale(1.7); /* IE 9 */
    -webkit-transform: scale(1.7); /* Safari 3-8 */
    transform: scale(1.7);

}
.menuloc{
    -moz-transition: all 0.25s;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
}
.menuloc:hover{
    -ms-transform: scale(1.7); /* IE 9 */
    -webkit-transform: scale(1.7); /* Safari 3-8 */
    transform: scale(1.7);

}

.Logo1{
    -moz-transition: all 0.25s;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
}

.Logo1:hover{
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.05);
}

#mommy{
    background:black;
    display:-webkit-box;
    -webkit-box-orient:horizontal;
    /* -webkit-box-direction:reverse; */
    width:100%;
    /* -webkit-box-pack:center; */
    height:300px;
    -webkit-box-align:stretch;
}

#end{
    background:black;
    padding:10px;
    margin:10px;
    -webkit-box-flex:1;
    width :100%;
    height:200px;

}

#kid1{
    background:black;
    padding:20px;
    margin:10px;
    -webkit-box-flex:1;
    height:250px;

}
#kid2{
    background:black;
    padding:20px;
    margin:10px;
    -webkit-box-flex:1;
    height:250px;

}
#kid3{
    background:black;
    padding:20px;
    margin:10px;
    -webkit-box-flex:1;
    height:250px;

}
#kid4{
    background:black;
    padding:20px;
    margin:10px;
    -webkit-box-flex:1;
    height:250px;

}

#tfooter{
    clear: both;
    position: relative;
    height: 200px;
    width: 100%;
}

.sidebar {

    display: block;
    margin-top: 112px;
    margin-right: 1%;
    padding-bottom: 30px;
    background: aliceblue;
    overflow: hidden;
    float: left;
    font-size: 20px;
}
.column {
    float: left;
    padding: 10px;
}

/* Left and right column */
.column.leftside {
    width: 20%;
    display: block;
    margin-top: 70px;
    margin-right: 1%;
    padding-bottom: 30px;
    background: blanchedalmond;
    overflow: hidden;
    float: left;
    font-size: 20px;
}
.column.rightside{
    margin-top: 170px;
    margin-right: 1%;
    padding-bottom: 30px;
    float: right;
    width: 18%;
    background-color: blanchedalmond;
}

/* Middle column */
.column.middle {
    display: block;
    margin-top: 38px;
    margin-right: 1%;
    width: 50%;

}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
.column.left{
    width: 35%;
}
.column.middleee{
    width: 75%;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column.side, .column.middle {
        width: 100%;
    }
}
.load{
    animation: slide 2s;
}

.content2{
    width: 100%;
    height: 100%;
}

.slider {
    width: 250px;
    height: 400px;
    margin:0px 0px;
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: 5px 5px 10px grey;
    animation: ani 10s infinite;
    display: inline-block;

}

@keyframes ani {
    0%{
        background-image: url("Event1.jpg");
    }
    20%{
        background-image: url("Event1.jpg");
    }
    20.01%{
        background-image: url("Event2.jpg");
    }
    40%{
        background-image: url("Event2.jpg");
    }
    40.01%{
        background-image: url("Event3.jpg");
    }
    60%{
        background-image: url("Event3.jpg");
    }
    60.01%{
        background-image: url("Event4.jpg");
    }
    80%{
        background-image: url("Event4.jpg");
    }
    80.01%{
        background-image: url("Event5.jpg");
    }
    100%{
        background-image: url("Event5.jpg");
    }
}


.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
.overflow-x: hidden;
    z-index: 5;
    display: none;
}

.overlay a{
    padding: 0px;
    color: #ccc;
    font-size: 30px;
    text-decoration: none;
    display: block;
}

.overlay a:hover{
    color:#fff;
}

.overlay .closeBtn{
    position: absolute;
    top: 2px;
    right: 7px;
    font-size: 40px;
}

.bg-modal{
    width: 550px;
    height:600px;
    background: aliceblue;
    color: #ffffff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    border: lightblue;
    border-style: solid;
}
.img{
    width: 100px;
    height: 80px;
    border-radius: 25%;
    top: 1%;
}

.modal-contents{
    padding: 16px;
    text-align: center;
}

.Form input{
    width: 100%;
    margin-bottom: 20px;
}

.Form input[type=text],
input[type=text], iput[type=text], input[type=file]{
    width: 60%;
    padding: 13px 15px;
    margin: 12px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    top: 20%;
}

.post{
    font-family: "sans-serif";
    border:2px solid #ccc;
    background-color:#ff4d4d;
    color:white;
}

.fil{
    width:250px;
    height: 250px;
    margin: 60px auto;
    position: absolute;
    background: white;
    text-align: center;
    padding: 35px;
    border: 4px solid darkred;
    -webkit-border-radius: 70px 0 70px 0;
    -moz-border-radius: 70px 0 70px 0;
    border-radius: 70px 0 70px 0;
}










































